<ng-container *ngIf="basket$ |async" >
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="border-0" [class.bg-light]="isBasket" scope="col">
            <div class="p-2 px-3 text-uppercase">Item</div>
          </th>
          <th scope="col" class="boarder-0" [class.bg-light]="isBasket">
            <div class="py-2 text-uppercase">Price</div>
          </th>
          <th scope="col" class="boarder-0" [class.bg-light]="isBasket">
            <div class="py-2 text-uppercase">Quantity</div>
          </th>
          <th scope="col" class="boarder-0" [class.bg-light]="isBasket">
            <div class="py-2 text-uppercase">Total</div>
          </th>
          <th *ngIf="isBasket" scope="col" class="boarder-0 bg-light">
            <div class="py-2 text-uppercase">Remove</div>
          </th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let item of (basket$ | async)?.items">
          <th scope="row">
            <div class="p-2">
              <img src="{{item.picture}}" alt="Item name" class="img-fluid" style="max-height: 50px ; margin-right: 10px;">
              <div class="ml-3 d-inline-block align-middle">
                <h5 class="mb-0">
                  <a routerLink="/shop-items/{{item.itemId}}" class="text-dark">{{item.name}}</a>
                </h5>
                <span class="text-muted font-weight-normal font-italic d-block">Type: {{item.type}}</span>
              </div>
            </div>
          </th>
          <td class="align-middle"><strong>{{item.price | currency: 'GBP'}}</strong></td>
          <td class="align-middle">
            <div class="d-flex align-items-center">
              <button *ngIf="isBasket" (click)="increaseOrDecreaseQuantity(item.itemId, true)" style="margin: 8px;"  type="submit" class="btn btn-primary fa fa-shopping-cart mr-5">+</button>
              <strong>{{item.quantity}}</strong>
              <button *ngIf="isBasket" (click)="increaseOrDecreaseQuantity(item.itemId, false)" style="margin-left: 8px;" routerLinkActive="router-link-active"  type="submit" class="btn btn-primary">-</button>
            </div>
          </td>
          <td class="align-middle"><strong>{{item.price * item.quantity | currency: 'GBP'}}</strong></td>
          <td class="align-middle text-center">
            <button *ngIf="isBasket" (click)="removeItemFromBasket(item.itemId)" class="btn btn-danger">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>   
