<!--<c-footer>-->
  <!-- <div>
    <a href="https://coreui.io/pro/angular/" target="_blank">CoreUI</a>
    <span> &copy; 2022 creativeLabs</span>
  </div>
  <div class="ms-auto">
    Powered by
    <a href="https://coreui.io/pro/angular" target="_blank">
      <span> CoreUI v4 for Angular</span>
    </a>
  </div> -->
  <div>
    <span> &copy; 2023 Coventry Students</span>
  </div>
  <div class="ms-auto">
    Developed by
      <span> Equip Systems Software - Group 8</span>
  </div>
<!--</c-footer>-->
