<div class="row" *ngIf="item">
<div class="col-6">
  <img src="{{item.url}}" alt="{{item.name}}" class="img-fluid w-100">
</div>
<div class="col-6">
  <h3>{{item.name}}</h3>
  <p>Price: {{item.price | currency: 'GBP'}}</p>
  <div>
    <p>QTY: <strong>{{quantity}}</strong></p>
    <button (click)="increaseOrDecreaseQuantity(true)" class="btn btn-info" style="margin-right: 10px;"><strong>Increase</strong></button>
    <button (click)="increaseOrDecreaseQuantity(false)" class="btn btn-info"><strong>Reduce</strong></button>
    <div style="margin: 10px;">
      <button (click)="addItemToBasket()" class="btn btn-outline-primary btn-lg ml-4">Add to Cart</button>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 ml-3">
    <h4>Description</h4>
    <p>{{item.description}}</p>
  </div>
</div>
</div>

