<c-col xxl="12">
  <c-card>
    <c-card-header ngPreserveWhitespaces>
      <strong>New User</strong>
    </c-card-header>
    <c-card-body>
      
      <form cForm class="row g-3"  (ngSubmit)="save()" [formGroup]="userForm" id="userForm">
        <c-col [md]="6">
        <label cLabel for="inputEmail4">First Name</label>
        <input cFormControl id="inputEmail4" type="text" formControlName="firstName"/>
        </c-col>
        <c-col [md]="6">
        <label cLabel for="inputPassword4">Last Name</label>
        <input cFormControl id="inputPassword4" type="password" formControlName="firstName"/>
        </c-col>
        <c-col [xs]="6">
        <label cLabel for="inputAddress">Username</label>
        <input cFormControl placeholder="" formControlName="userName"/>
        </c-col>
        <c-col [xs]="6">
          <label cLabel>Email</label>
          <input cFormControl placeholder="" formControlName="email"/>
          </c-col>
        <!-- <div  *ngIf="true">
            <div *ngFor="let org of organisationProperties; let index = index" [formGroupName]="index">
              <c-col [md]="6" >
                <label cLabel>Organisation Name</label>
                <input [formControlName]="index" cFormControl type="text" />
              </c-col>
            </div>
        </div> -->
        <c-col [xs]="6">
        <label cLabel>Password</label>
        <input cFormControl placeholder="" />
        </c-col>
        <c-col [xs]="6">
          <label cLabel>Confirm Password</label>
          <input cFormControl placeholder="" />
        </c-col>
        <c-col [xs]="12">
        <button cButton type="submit">Create New User</button>
        </c-col>
        </form>
    </c-card-body>
  </c-card>
</c-col>