
<c-row>
  <c-col xs>   
    <c-card class="mb-4">
        <c-card-header>
          <c-container>
            <c-row  class="align-items-start">
              <c-col class="table-title" xs="6">My Bookings</c-col>
            </c-row>            
          </c-container>
        </c-card-header>
        <c-card-body>
          <c-container>
            <c-row>
              <c-col [xs]="7">
               
              </c-col>
              <c-col [xs]="5">
                <c-row>
                  <c-col>
                  </c-col>
                  <c-col>
                    <div class="selectWrapper">
                    </div>
                  </c-col>
                </c-row>
              
              </c-col>
            </c-row> 
          </c-container>
        </c-card-body>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th>Order</th>
              <th>Date</th>
              <th>Total</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>         
            <tr *ngFor="let order of orders; let i = index">    
              <td># EQUP-SYS-00000{{order.id}}</td>
              <td>{{order.orderDate | date: 'medium'}}</td>
              <td>{{order.total | currency: 'GBP'}}</td>
              <td>
                <c-badge *ngIf="order.status.toLowerCase() === 'payment received' " color="success">{{order.status.toUpperCase()}}</c-badge>
                <c-badge *ngIf="order.status.toLowerCase() === 'pending' " color="info">{{order.status.toUpperCase()}}</c-badge>
              </td>
              <td>
                <button class="btn btn-primary" routerLink="/my-bookings/{{order.id}}">View Details</button>
              </td>
            </tr>
          </tbody>
        </table>       
        <p *ngIf="orders.length <= 0" style="display: flex; justify-content: center; margin-top: 10px;"><strong>There are currently no booking/order to display.</strong></p>

      </c-card-body>
      <c-card-footer>
         <div class="center-pagination">
        <app-pager-pagination></app-pager-pagination>
      </div>
      </c-card-footer>     
    </c-card>    
  </c-col>
</c-row>