<c-col xxl="12">
  <c-card>
    <c-card-header ngPreserveWhitespaces>
      <strong>Change Password</strong>
    </c-card-header>
    <c-card-body>      
      <form cForm class="row g-3"  (ngSubmit)="save()" [formGroup]="passwordForm" id="passwordForm">
        <c-col [xs]="12">
          <label cLabel>Current Password</label>
          <input type="password" cFormControl placeholder="" 
              [ngClass]="{'is-invalid' : passwordForm.get('currentPassword')?.errors && passwordForm.get('currentPassword')?.touched}"
              formControlName="currentPassword"/>
              <div class="invalid-feedback" *ngIf="passwordForm.get('currentPassword')?.hasError('required') && passwordForm.get('currentPassword')?.touched">Password is required</div>
              <div class="invalid-feedback" *ngIf="passwordForm.get('currentPassword')?.hasError('minlength') && passwordForm.get('currentPassword')?.touched">Password must be at least 4 characters</div>
              <div class="invalid-feedback" *ngIf="passwordForm.get('currentPassword')?.hasError('maxlength') && passwordForm.get('currentPassword')?.touched">Password must be not exceed 8 characters</div>
        </c-col>
        <c-col [xs]="12">
          <label cLabel>Password</label>
          <input type="password" cFormControl placeholder="" 
              [ngClass]="{'is-invalid' : passwordForm.get('newPassword')?.errors && passwordForm.get('newPassword')?.touched}"
              formControlName="newPassword"/>
              <div class="invalid-feedback" *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched">Password is required</div>
              <div class="invalid-feedback" *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">Password must be at least 4 characters</div>
              <div class="invalid-feedback" *ngIf="passwordForm.get('newPassword')?.hasError('maxlength') && passwordForm.get('newPassword')?.touched">Password must be not exceed 8 characters</div>
        </c-col>
        <c-col [xs]="12">
          <label cLabel>Confirm Password</label>
          <input type="password" cFormControl placeholder="" 
          [ngClass]="{'is-invalid' : passwordForm.get('confirmPassword')?.errors && passwordForm.get('confirmPassword')?.touched}"
          formControlName="confirmPassword"/>
          <div class="invalid-feedback" *ngIf="passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched">Confirm Password is required</div>
          <div class="invalid-feedback" *ngIf="passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched">Passwords does not match</div>
        </c-col>
        </form>
    </c-card-body>
    <c-card-footer>
      <div>
        <button style="margin-right: 10px;" type="submit" [disabled]="!passwordForm.valid || isSaving === true" form="passwordForm" class="btn btn-sm btn-primary mr-2"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>    
    </c-card-footer>
  </c-card>
</c-col>