<c-card>
  <c-card-body>
    <div class="row">
      <section class="col-3">
        <h5 class="text-warning ml-3">Sort</h5>
        <select class="custom-select mb-3" (change)="onSortSelected($event)">
          <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
        </select>

        <h5 class="text-warning ml-3">Categories</h5>
          <ul class="list-group my-3">
            <li class="list-group-item " [class.active]="category.id === this.itemParams.categoryId"
              [value]="category.id"
              (click)="onCategorySelected(category.id)"
              *ngFor="let category of categories">{{category.name}}</li>
           
          </ul>
          <h5 class="text-warning ml-3">Item Types</h5>
          <ul class="list-group my-3">
            <li class="list-group-item" 
              [class.active]="itemType.id === this.itemParams.itemTypeId"
              [value]="itemType.id"
              (click)="onItemTypeSelected(itemType.id)"
              *ngFor="let itemType of itemTypes">{{itemType.name}}</li>
          </ul>        
      </section>
      <section class="col-9">
        <div class="d-flex justify-content-between align-items-center pb-2">
          <app-paging-header [totalCount]="totalCount" 
            [currentPage]="this.itemPagination.currentPage" 
            [itemsPerPage]="this.itemPagination.itemsPerPage">
          </app-paging-header>
          
          <div class="form-inline mt-2">
            <input (keyup)="onSearch()" #search class="form-control mr-2" style="width: 300px;" placeholder="Search" type="text">
            <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
            <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
          </div>
        </div>
       
        <div class="row">
          <div class="col-4 mb-4" *ngFor="let item of items">
            <app-product-item [item]="item"></app-product-item>
          </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
          <app-pager-pagination [pagination]="itemPagination" (nextPage)="getNextPage($event)"></app-pager-pagination>
        </div>
   
      </section>
    </div>
  </c-card-body>
</c-card>